.addItem-outerBox{
width: 80vw;
height: 20vh;
border: 2px solid rgb(179, 177, 177);
margin: 20px auto;

}

.addItem-innerPart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px
}

.input-addItem{
   width: 200px;
height: 40px;
color:  rgb(122, 121, 121) ;
padding: 0px 10px;
font-size: 1rem;
border: 2px solid rgb(179, 177, 177);
border-radius: 5px;
outline: none;
}


.button-style{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    color: white;
    background-color: rgb(100, 77, 253);
    border-radius: 5px;
}